.forgery-process-table td {
  height: unset;
}

.forgery-process-table .form-type--select {
  margin: 0;
}

.forgery-process-table .form-type--select select {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 32px;
  height: 32px;
  line-height: 32px;
}

.fieldset--inline .fieldset__wrapper {
  display: flex;
  gap: 1rem;
}
